@import url(./../fonts/IranYekan/fontFace.css);
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    direction: rtl;
    background-color: #020B1F;
}


.formBgGradient {
    background: rgb(2,0,36);
    background: linear-gradient(185deg, rgba(2,0,36,1) 0%, rgba(24,32,64,1) 100%);
}
